body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #dd79a8;
    color: #000000;
    padding: 20px 0;
}

.magic-trick-section {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

button {
    background-color: #dd79a8;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #dd79a8;
}
